<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace(命名空间)：映射文件的唯一标识 -->
<mapper namespace="mybatis.test.userMapper.UserMapper">

	<!-- 查询的statement，id：在同一个命名空间下的唯一标识，resultType：sql语句的结果集封装类型 -->
	<select id="queryUserById" resultType="user">
		select * , user_name as username from tb_user where id=#{id}
	</select>
	<insert id="insertUser" >
		INSERT INTO tb_user (
			user_name,
			password,
			name,
			age,
			sex,
			birthday,
			created,
			updated
		)
		VALUES
			(
				#{userName},
				#{password},
				#{name},
				#{age},
				#{sex},
				#{birthday},
				NOW(),
				NOW()
			);
	</insert>
	
	<resultMap type="User" id="loginMap" autoMapping="true">
		<id column="id" property="id"/>
		<id column="user_name" property="userName"/>
	</resultMap>
	
	<select id="login" resultMap="loginMap">
		select * from tb_user where user_name=#{0} and password=#{1}
	</select>
	
	<resultMap type="User" id="likeMap" autoMapping="true">
		<id column="id" property="id"/>
		<id column="user_name" property="userName"/>
	</resultMap>
	
	<select id="likeSelect" resultMap="likeMap">
		select * from tb_user where user_name like '%' #{1} '%'
	</select>
	
	<update id="updateUser" >
		UPDATE tb_user
		SET
		 user_name = #{userName},
		 password = #{password},
		 name = #{name},
		 age = #{age},
		 sex = #{sex},
		 birthday = #{birthday},
		 updated = NOW()
		WHERE
			(id = #{id});
	</update>

	
</mapper>
